data
data/**
hidden
hidden/**
.DS_Store
.ipynb_checkpoints/
.vscode/
**/.DS_Store
notebooks/data/
notebooks/data/**
**/.ipynb_checkpoints/
**/*.gz
**/*.zip
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.log
**/*.tmp
**/*.bak
**/*.swp
**/*.swo
**/*.out
**/*.err
**/*.aux
**/*.lof
**/~*.docx
**/*.pyc
__pycache__/
*.pyc
.ipynb_checkpoints/
