{%- assign notebook_key = include.file | default: include.path -%}
{%- assign notebook_entry = nil -%}
{%- assign page_dir = page.dir | default: '' | remove_first: '/' -%}
{%- if include.local -%}
    {%- assign notebook_entry = site.data.notebooks.by_dir[page_dir][include.local] -%}
    {%- elsif include.file -%}
    {%- assign notebook_entry = site.data.notebooks.by_file[include.file] -%}
    {%- if notebook_entry == nil -%}
        {%- assign notebook_entry = site.data.notebooks.by_stem[include.file] -%}
    {%- endif -%}
{%- endif -%}
{%- if notebook_entry -%}
    {%- assign notebook_label = include.label | default: notebook_entry.title -%}
    <span class="notebook-links notebook-links--inline" data-notebook-links>
        <button class="notebook-links__label"
                type="button"
                aria-expanded="false"
                aria-haspopup="true">{{ notebook_label }}</button>
        <span class="notebook-links__actions" hidden>
            <a href="{{ '/' | append: notebook_entry.html_path | relative_url }}">View</a>
            <a href="{{ '/' | append: notebook_entry.ipynb_path | relative_url }}">Download</a>
            {% if notebook_entry.colab_url %}<a href="{{ notebook_entry.colab_url }}">Run</a>{% endif %}
        </span>
    </span>
{%- else -%}
    <span class="notebook-links notebook-links--missing">Missing notebook metadata for {{ notebook_key }}</span>
{%- endif -%}
