{%- assign notebook_key = include.file | default: include.path -%}
{%- assign notebook_entry = nil -%}
{%- assign page_dir = page.dir | default: '' | remove_first: '/' -%}
{%- if include.local -%}
  {%- assign notebook_entry = site.data.notebooks.by_dir[page_dir][include.local] -%}
{%- elsif include.file -%}
  {%- assign notebook_entry = site.data.notebooks.by_file[include.file] -%}
  {%- if notebook_entry == nil -%}
    {%- assign notebook_entry = site.data.notebooks.by_stem[include.file] -%}
  {%- endif -%}
{%- elsif include.path -%}
  {%- assign notebook_entry = site.data.notebooks.by_path[include.path] -%}
{%- endif -%}
{%- if notebook_entry -%}
  {%- assign notebook_label = include.label | default: notebook_entry.title -%}
  {%- assign show_colab = true -%}
  {%- if include.colab == false or include.colab == 'false' -%}
    {%- assign show_colab = false -%}
  {%- endif -%}
  <span class="notebook-links notebook-links--inline"><span class="notebook-links__label">{{ notebook_label }}</span> (<a href="{{ '/' | append: notebook_entry.html_path | relative_url }}">Read notebook</a> | <a href="{{ '/' | append: notebook_entry.ipynb_path | relative_url }}">Download source</a>{% if show_colab and notebook_entry.colab_url %} | <a href="{{ notebook_entry.colab_url }}">Open in Colab</a>{% endif %})</span>
{%- else -%}
  <span class="notebook-links notebook-links--missing">Missing notebook metadata for {{ notebook_key }}</span>
{%- endif -%}